{
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "ecmaVersion": 6 },
  "plugins": [
    "react"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
